.App {
  text-align: center;
  /* background:lightcyan; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

Form {
  background:lightblue;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width:60%;
  margin:auto;
}
Input {
  padding:20px;
  margin:auto;
  margin-top:20px;
}

.title {
  background:white;
  width:50%;
  margin:auto;
}
button {
  width:20%;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
}
.Star {
  width:50%;
  margin: 20px auto;
}

